.nav-filter > ul > li a, .dropdown-menu > li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block; 
}

.nav-filter {
  padding-bottom: 0.5em; 
}
.nav-filter > ul {
  list-style-type: none; 
}
.nav-filter > ul > li {
  padding: 0.2em;
  display: inline-block;
  max-width: 180px;
  margin: 0 20px;
  font-size: 1.1em;
  position: relative; 
}
.nav-filter > ul > li a {
  text-decoration: none;
  color: #404040; 
}
.nav-filter > ul > li:nth-child(n+4) {
  display: none; 
}
.nav-filter > ul > li.active {
  border-bottom: 2px solid #84b014; 
}
.nav-filter > ul > li.nav-more .dropdown-menu {
  max-width: 250px;
  text-align: left; 
}
.nav-filter > ul > li.nav-more .dropdown-menu a {
  font-size: 0.9em; 
}

@media handheld, only screen and (max-width: 767px) {
  .nav-filter > ul > li:nth-child(n+3) {
    display: none; 
  }
}

@media handheld, only screen and (max-width: 455px) {
  .nav-filter > ul > li:nth-child(n+2) {
      display: none; 
  }
}

/*
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  max-width: 400px;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: $white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  @extend .overflow-ellipses;
  padding: 6px 12px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  cursor: pointer;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  text-decoration: none;
  background-color: #eee;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: $gray;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: $gray;
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.open .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
*/
